<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="" name="description"/>
    <meta content="webthemez" name="author"/>
    <title><@block name="title"> </@block></title>
    <link href="../webjars/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet"/>
    <@block name="styles">
</
@block>

</head>

<body>
<@block name="content">
</
@block>
</body>
<script src="../webjars/jquery/3.3.1/jquery.js"></script>
<script src="../webjars/bootstrap/3.3.6/js/bootstrap.js"></script>
<@block name="scripts">
</@block>
</html>